<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <img src="assets/imgs/logo.jpg" class="app-logo"/>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="back()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">Formulario de Denuncias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding-bottom">

  <form [formGroup]="form">
    <ion-list lines="none" >
      <ion-item class="app-item">
        <ion-label class="app-label" position="stacked">Detalles de hechos(*):</ion-label>
        <ion-input class="app-input" formControlName="detailsFact"></ion-input>
      </ion-item>
      <ion-item class="app-item">
        <ion-label class="app-label" position="stacked">fuente de información(*):</ion-label>
        <ion-input class="app-input" formControlName="sourceInformation"></ion-input>
      </ion-item>
      <ion-item class="app-item">
        <ion-label class="app-label" position="stacked">Pruebas sustentatorias(*):</ion-label>
        <ion-input class="app-input" formControlName="supportingEvidence"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-button
                [disabled]="form.invalid"
                (click)="next()" color="danger" class="btn-md">SIGUIENTE</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>