<ion-header no-border>
    <ion-toolbar class="ion-text-center">
        <ion-img src="assets/imgs/logo.jpg" class="app-logo"></ion-img>
    </ion-toolbar>
    <ion-toolbar class="ion-text-center">
        <ion-buttons slot="start">
            <ion-button (click)="back()" >
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Consulta de Trámite</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="formGroup" (ngSubmit)="search()">
        <ion-list lines="none" >
            <ion-item class="app-item">
                <ion-label class="app-label" position="stacked">Número de registro:</ion-label>
                <ion-input class="app-input" type="number" maxlength="12" formControlName="registryNumber"></ion-input>
            </ion-item>
            <ion-item class="app-item">
                <ion-label class="app-label" position="stacked">Contraseña para consultar:</ion-label>
                <ion-input class="app-input" type="password"  maxlength="4" formControlName="claveNumber" ></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item lines="none">
                <ion-label class="ion-text-center">
                    <ion-button
                        type="submit"
                        [disabled]="formGroup.invalid"
                        color="danger">
                        BUSCAR HOJA DE TRÁMITE
                    </ion-button>
                </ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="ion-text-center ion-text-wrap">
                    * válido para registros generados a partir del 24 de junio de 2017
                </ion-label>
            </ion-item>
        </ion-list>
    </form>
</ion-content>

<app-footer></app-footer>