<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <img src="assets/imgs/logo.jpg" class="app-logo"/>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="back()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container [ngSwitch]="complaintType">

    <ion-list *ngSwitchCase="complaintTypes.anonymous" lines="none" >
      <form [formGroup]="formAnonymous">
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Teléfono(*):</ion-label>
          <ion-input type="text" maxlength="15" class="app-input" inputmode="tel" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Correo electrónico(*):</ion-label>
          <ion-input class="app-input" inputmode="email" formControlName="email"></ion-input>
        </ion-item>
      </form>
    </ion-list>

    <ion-list *ngSwitchCase="complaintTypes.legal" lines="none" >
      <form [formGroup]="formLegalNatural">
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">RUC(*):</ion-label>
          <ion-input class="app-input" inputmode="tel" type="text" autofocus formControlName="documentNumber"></ion-input>
        </ion-item>
        <ion-item *ngIf="fieldDocumentNumber.errors?.lengthNumber" >
          <ion-label color="danger" class="ion-no-margin">
            {{ fieldDocumentNumber.errors.lengthNumber }}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <ion-button color="danger" class="btn-md"
                        [disabled]="fieldDocumentNumber.invalid"
                        (click)="searchSunat()">BUSCAR</ion-button>
          </ion-label>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Razón social(*):</ion-label>
          <ion-input class="app-input" formControlName="fullName"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Domicilio:</ion-label>
          <ion-input class="app-input" formControlName="address"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Teléfono(*):</ion-label>
          <ion-input type="text" maxlength="15" class="app-input" inputmode="tel" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Correo electrónico(*):</ion-label>
          <ion-input class="app-input" inputmode="email" formControlName="email"></ion-input>
        </ion-item>
      </form>
    </ion-list>

    <ion-list *ngSwitchCase="complaintTypes.natural" lines="none" >
      <form [formGroup]="formLegalNatural">
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Tipo de documento(*):</ion-label>
          <ion-select class="app-select" interface="popover"  formControlName="documentType">
            <ion-select-option [value]="DocumentTypes.DNI">DNI</ion-select-option>
            <ion-select-option [value]="DocumentTypes.PASSPORT">Pasaporte</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Nro de documento(*):</ion-label>
          <ion-input class="app-input" inputmode="tel" type="text" formControlName="documentNumber"></ion-input>
        </ion-item>
        <ion-item *ngIf="fieldDocumentNumber.errors?.lengthNumber" >
          <ion-label color="danger" class="ion-no-margin">
            {{ fieldDocumentNumber.errors.lengthNumber }}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <ion-button color="danger" class="btn-md"
                        [disabled]="fieldDocumentNumber.invalid"
                        (click)="searchReniec()">BUSCAR</ion-button>
          </ion-label>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Apellido Paterno(*):</ion-label>
          <ion-input class="app-input" formControlName="fatherLastName"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Apellido Materno(*):</ion-label>
          <ion-input class="app-input" formControlName="motherLastName"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Nombres(*):</ion-label>
          <ion-input class="app-input" formControlName="fullName"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Domicilio:</ion-label>
          <ion-input class="app-input" formControlName="address"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Teléfono(*):</ion-label>
          <ion-input  type="text" maxlength="15" class="app-input" inputmode="tel" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item class="app-item">
          <ion-label class="app-label" position="stacked">Correo electrónico(*):</ion-label>
          <ion-input class="app-input" inputmode="email" formControlName="email"></ion-input>
        </ion-item>
      </form>
    </ion-list>

  </ng-container>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-button
          [disabled]="form.invalid"
          (click)="next()"
          color="danger"
          class="btn-md">SIGUIENTE</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>