<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <img src="assets/imgs/logo.jpg" class="app-logo"/>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="back()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">Formulario de Denuncias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-padding-bottom">
    Datos de los servidores comprometidos
  </div>
  <ion-list lines="none" >
    <ion-item class="app-item">
      <ion-label>Adjuntar archivo(*)</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-button (click)="addFileOptions()" color="danger" class="btn-md">
          <ion-icon name="add" slot="start"></ion-icon>
          Adjuntar
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-grid class="table ion-no-padding">
        <ion-row class="thead">
          <ion-col size="12" class="ion-text-center">Nombre del archivo</ion-col>
          <!--
          <ion-col size="7" class="ion-text-center">Tipo de archivo</ion-col>
          -->
        </ion-row>
        <ion-row class="thead" *ngFor="let item of api.files; let i = index;">
          <ion-col size="10" class="ion-text-center" (click)="openImageBase64(item.base64)">
            {{ item.name }}
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-button (click)="removeFile(i)" size="small" fill="clear" color="danger">
              <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-button [disabled]="!api.files.length"
                (click)="confirmProtection()" color="danger" class="btn-md">SIGUIENTE</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>