<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <img src="assets/imgs/logo.jpg" class="app-logo"/>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div class="content-middle-center">

    <ion-card class="option option1" routerLink="/consult">
      <img src="assets/consult.jpg" alt="">
      <ion-card-content>
        <ion-icon name="document"></ion-icon>
        Consulta de Trámite
      </ion-card-content>
    </ion-card>

    <ion-card class="option option2" routerLink="/complaint">
      <img src="assets/complaint.jpg" alt="">
      <ion-card-content>
        <ion-icon name="person"></ion-icon>
        <span>Formulario de Denuncia</span>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<app-footer></app-footer>