<ion-header>
  <ion-toolbar>
    <ion-title>Medidas de Protección</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">


    <!--  
          <ion-list>
              <ion-radio-group>
      
                <ion-item  *ngFor="let c of componentes" >
                  <ion-label>{{ c.name }}</ion-label>
                  <ion-radio slot="start" [value]="c.value"></ion-radio>
                </ion-item>
        
              </ion-radio-group>
            </ion-list>
    -->

    <ion-list >
        <ion-radio-group  formControlName="tipoMedida" >
            <ion-item>
              <ion-label class="ion-text-wrap">Reserva de Identidad</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">Traslado temporal del denunciante</ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">Traslado temporal del denunciado</ion-label>
              <ion-radio slot="start" value="3"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">Renovación de relación contractual, convenio, etc.</ion-label>
              <ion-radio slot="start" value="4"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">Licencia sin goce de remuneración</ion-label>
              <ion-radio slot="start" value="5"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">Exoneración de obligación de asistir al trabajo</ion-label>
              <ion-radio slot="start" value="6"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">Otras medidas de protección</ion-label>
              <ion-radio slot="start" value="7"></ion-radio>
            </ion-item>
        </ion-radio-group>
      
        <ion-item>
        <ion-label class="ion-text-wrap" position="stacked">De ser el caso, hacer extensivas a las siguientes</ion-label>
        <ion-textarea placeholder="Escribir Nombres" rows="2" formControlName="otherIntegrity"></ion-textarea>
        </ion-item>

 
    </ion-list>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none" button detail="false" (click)="dismiss(false)">
            <ion-label class="ion-text-center fs14" color="primary">CANCELAR</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none" button detail="false" (click)="dismiss(true)">
            <ion-label class="ion-text-center fs14" color="primary">CONTINUAR</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
